.m-menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 3;
  background-color: white;
  opacity: 0.8;
}

.m-menu {
  z-index: 4;
  position: fixed;
  min-width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1rem 1.25rem;
  border-bottom: white;
  border-bottom-width: 1px;
  background-color: white;
  border: 2px solid #121212;
  animation: silde .5s forwards;
  border-radius: 0px 20px 0px 0px;
}

.m-menu-ul {
  display: grid;
  gap: 1em;
  padding: 0;
}

.m-menu-li {
  display: flex;

  padding: 10px 10px;

  /* background-color: rgba(0, 0, 0, 0.1); */
  border-radius: 10px;

  list-style: none;
  text-decoration-style: none;

  color: #121212 !important;

  transition: .3s;

  cursor: pointer;
}

.m-menu-li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.m-menu-li:hover .m-menu-svg {
  fill: black;
}

.m-menu-li[aria-current=true] {
  background-color: black;
}

.m-menu-li[aria-current=true] .m-menu-name {
  color: white !important;
}

.m-menu-li .m-menu-svg {
  fill: gray;
}

.m-menu-li[aria-current=true] .m-menu-svg {
  fill: white;
}

.m-menu-li>a {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  text-decoration: none !important;
}


.m-menu-name {
  font-size: 1em;
  margin-left: 15px;
  color: gray;
}

.m-menu-li:hover .m-menu-name {
  color: black !important;
}

@keyframes silde {
  from {
    left: -480px;
  }

  to {
    left: 0px;
  }
}

@media (min-width: 1200px) {

  .m-menu,
  .m-menu-wrapper {
    display: none;
  }
}