@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: black;
}

.menu {
  animation: silde .3s forwards;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}


@keyframes silde {
  from {
    left: -480px;
  }

  to {
    left: 0px;
  }
}