@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: black;
}

.menu {
  animation: silde .3s forwards;
}

@keyframes silde {
  from {
    left: -480px;
  }

  to {
    left: 0px;
  }
}